<app-brewery-filter (selectedType)="selectedType($event)"></app-brewery-filter>
<div class="table-container">
  <app-brewery-table [brewery]="breweries"></app-brewery-table>
</div>
<div class="button-container">
  <button mat-stroked-button *ngIf="!hideLoadMore" (click)="loadMore()">Load more</button>
</div>


