<mat-form-field>
  <mat-label>Brewery types</mat-label>
  <mat-select (selectionChange)="selectionChange($event)">
    <mat-option *ngFor="let type of breweriesType" [value]="type">
      {{type}}
    </mat-option>
  </mat-select>
</mat-form-field>
