<div class="container">
  <div>
    <span>SET THEME</span>
    <mat-button-toggle-group (change)="toogleTheme($event)">
      <mat-button-toggle value="bright">BRIGHT</mat-button-toggle>
      <mat-button-toggle value="dark">DARK</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div>
    <span>SET NUMBER OD LOADED ROWS</span>
    <mat-form-field>
      <input matInput type="number" min="15" max="30" (change)="controlChange()" [formControl]="pageCountControl">
      <mat-error *ngIf="pageCountControl.invalid">Page range exceeded</mat-error>
    </mat-form-field>
  </div>

  <div>
    <span>SORT ASCENDING BY</span>
    <mat-form-field>
      <mat-select (selectionChange)="selectionChange($event)" [(value)]="tableColumns[0]">
        <mat-option *ngFor="let column of tableColumns"  [value]="column">{{column}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>



