<mat-toolbar class="toolbar">
  <app-toolbar></app-toolbar>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content class="content">
    <article>
      <router-outlet></router-outlet>
    </article>
  </mat-sidenav-content>
</mat-sidenav-container>

