<table mat-table [dataSource]="dataSource" class="table">
  <ng-container *ngFor="let column of columns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef><span>{{column | uppercase}}</span></th>
    <td mat-cell *matCellDef="let element">
      <ng-container [ngSwitch]="column">
        <div *ngSwitchCase="columnEnum.NAME">{{element.name}}</div>
        <div *ngSwitchCase="columnEnum.TYPE">{{element.brewery_type}}</div>
        <div *ngSwitchCase="columnEnum.STATE">{{element.state}}</div>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="noData">
    <td mat-footer-cell *matFooterCellDef colspan="3">
      <div class="no-data">
        <span>No data</span>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  <tr mat-footer-row *matFooterRowDef="['noData']" [class.is-data]="dataSource.data.length > 0"></tr>
</table>
