.table {
  width: 100%;

  .mat-cell, .mat-header-cell {
    padding: 0 5px;
  }

  th, td {
    width: 33%;
    word-wrap: break-word;
  }
}

.no-data {
  display: flex;
  justify-content: center;
}

.is-data {
  display: none;
}
